# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# Operating System
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# Python Cache
# ==========================================

.pytest_cache/
.mypy_cache/

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Temporary Files
# ==========================================

*.tmp
*.temp

# ==========================================
# Environment Variables
# ==========================================

.env

# ==========================================
# pgAdmin Session Files
# ==========================================

*.session.sql